*{
    box-sizing: border-box;
    font-family:'Times New Roman';
}
input, select{
    padding: 5px;
    border: 2px solid #080808;
    margin: 5px;
    width: 100%;
}

#button{
    background-color: #d67373;
    border: 1px solid black;
    color: white;
    padding: 10px;
    margin: auto;
    display: block;

}

.box1 {
    height: auto;
    width: 1100px;
    border: 2px solid #080808;
    margin: 10px;
    background-color: #D2D2D2;
    padding: 10px;
}
#buttonAdd{
    background-color: #315561;
    color: white;
    padding: 10px;
    margin: auto;
    margin-bottom: 5px;
    text-align: center;
    justify-content: center;
    display: block;
}

#buttonRemove{
    background-color: #d67373;
    color: white;
    padding: 10px;
    margin: auto;
    text-align: center;
    justify-content: center;
    display: block;
}

#buttonUpdate{
    background-color: #315561;
    color: white;
    padding: 10px;
    margin: auto;
    justify-content: center;
    display: block;
}

.box2 {
    height: auto;
    width: 50%;
    border: 2px solid black;
    background-color: #b7b7b7;
    color: black;
    padding: 10px;
    margin: 10px;
}
.box22a {
    width: 50%;
    border: 2px solid black;
    background-color:#8c8c8c;
    padding: 10px;
    margin: 10px;
}
.box22b {
    width: 50%;
    border: 2px solid black;
    background-color:#8c8c8c;
    padding: 10px;
    margin: 10px;
}
.box3 {
    height: auto;
    width: auto;
    border: 2px solid black;
    background-color: #000000;
    color: aliceblue;
    padding: 10px;
    margin: 10px;
    align-items: center;
}
.box3 h2 {
    text-align: center;
    white-space: nowrap;
}
.token-list {
    list-style-type: number;
    padding: 25px;
    margin: 3px;
}
.token-list li {
    text-align: center;
    padding: 5px;
    margin: 3px;
}
main {
    max-width: 1280px;
    display: flex;
    margin: auto;
    gap: 6px;
}
.section2 {
    display: flex;
    gap: 6px;
    justify-content: center;
    margin-bottom: 6px;
}
i{
    color: #fff;
    height: auto;
    width: auto;
    margin: 10px;
    height: 20px;
}

